<style type="text/css">

  .booking_menu a:link, .booking_menu a:visited {
    color: white;
  }

  .booking_menu a:hover {
    color: yellow;	
  }

  .booking_menu {

  }

</style>

<div id="cssmenu" class="booking_menu admin_menu smaller_text all-space">
  <ul>
   <li class='<%if ['/admin/booking/catalog','/admin/booking/booking-categories','/admin/booking/booking-items','/admin/booking/booking-extras', '/admin/rates/adjust-prices','/admin/booking/activities'].index(request.path)%>active <%end%>has-sub'><a href='#'><%=t.booking_console.products%></a>
      <ul>
        <li><a href='/admin/booking/booking-categories'><%=t.booking_console.categories%></a></li>
        <li><a href='/admin/booking/booking-extras'><%=t.booking_console.extras%></a></li>
        <li><a href='/admin/booking/booking-items'><%=t.booking_console.items%></a></li>
        <% if booking_activities %>
        <li><a href='/admin/booking/activities'><%=t.booking_console.activities%></a></li>                                
        <% end %>       
        <li><a href='/admin/rates/adjust-prices'><%=t.booking_console.adjust_prices%></a></li>                        
      </ul>    
   </li>    
  </ul> 
</div>