<div class="top-navigation-bar" style="display:none">
  <h2 class="entity-title"><%=t.admin.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site"><%=t.admin.site%></a></p>
      </div>
    </div>
    <% if user and user.superuser %>
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms"><%=t.admin.console_contents%></a></p>
      </div>
    </div>
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/media"><%=t.admin.console_media%></a></p>
      </div>
    </div>  
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site/configuration"><%=t.admin.console_setup%></a></p>
      </div>
    </div>  
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/users"><%=t.admin.console_users%></a></p>
      </div>
    </div>  
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/system"><%=t.admin.console_system%></a></p>
      </div>
    </div>  
    <% end %>            
  </div>
</div>