<h2><%=t.admin.title%></h2>
<%=t.admin.description%>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/config/site"><%=t.admin.config_site%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/console/cms"><%=t.admin.console_contents%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/console/site-structure"><%=t.admin.console_structure%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/console/site-style"><%=t.admin.console_style%></a></p>
    </div>
  </div>    
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/console/media"><%=t.admin.console_media%></a></p>
    </div>
  </div>  
 </div>