<div class="top-navigation-bar" style="display:none">
<h2 class="entity-title"><%=t.site.settings.title%></h2>
</div>
<div class="admin_content_wrapper">
<div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>
<form name="variables" action="/api/variables" method="PUT" 
      data-remote="ajax" data-remote-method="PUT">
  <%= render_variable_input_text('site.title', t.site.title, 80, 80) %>
  <%= render_variable_textarea('site.slogan', t.site.slogan) %>
  <%= render_variable_input_text('site.logo', t.site.logo, 100, 100) %>
  <div class="formrow-botonera">
  	<input type="submit" value="<%=t.entitymanagement.update%>" 
  	       class="button blue-button">
  </div>
</form>
</div>