<div class="top-navigation-bar" style="display:none">
  <h2 class="entity-title"><%=t.seo.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000">
  </div> 
  <div class="container_12">
    <div class="grid_6">
      <div class="guiblock" style="padding:10px 10px 14px 10px">
      	<p>Puedes integrar <b><em>mybooking</em></b> en tu página web o puedes utilizar mybooking
      	para construir tu sitio web en el caso que no dispongas o bien que quieras
      	utilizar nuestra plataforma para crear tu nuevo sitio web.</p>
      	<p>Pero no es solo eso, ofrecemos a los <b>webmasters</b> un conjunto de herramientas para que puedan ajustar el estilo de la(s) página(s) y trabajar en el posicionamiento</p>
      </div>
    </div>
    <div class="grid_6">
      <div class="left-margin guiblock" style="padding:10px">
        <ul>
          <li>Crear <b>páginas</b> del sitio web o las <b>entradas</b> del blog, teniendo acceso a los metadatos utilizados para el posicionamiento.</li>
          <li>Definir el <b>menú de navegación.</b></li>
          <li>Ajustar la <b>hoja de estilos</b>, definiendo nuevos estilos o ajustando los estilos existentes.</li>
          <li>Ajustar la <b>plantilla</b> base de las páginas web.</li>
          <li>Ajustar <b>robots.txt</b> y <b>sitemap.xml</b></li>
        </ul>
      </div>    	
    </div>
  </div>
      <div class="no-border no-background overflow top-margin-1line">
        <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <li class="no-border no-background" style="border:none; backgrond:none">
         	  <a name="general" href="#general"><%=t.seo.general%></a></li>
          <li class="no-border no-background" style="border:none; backgrond:none">
         	  <a name="cms" href="#cms"><%=t.seo.cms%></a></li>
          <li class="no-border no-background" style="border:none; backgrond:none">
           	  <a name="booking" href="#booking"><%=t.seo.booking%></a></li>
        </ul>
        <div id="content">
          <div id="general" class="all-border-solid color-2 top-margin">
            <%= partial :site_seo_general %>
  	      </div>
          <div id="cms" class="all-border-solid color-2 top-margin">
            <%= partial :site_seo_cms %>
  	      </div>
          <div id="booking" class="all-border-solid color-2 top-margin">
            <%= partial :site_seo_booking %>
  	      </div>  	      
  	    </div>	    
  	  </div>
</div>