<div class="top-navigation-bar" style="display:none">
  <h2 class="entity-title"><%=t.admin_site.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site/config"><%=t.admin.config_site%></a></p>
      </div>
    </div>
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site/style"><%=t.admin.console_style%></a></p>
      </div>
    </div>   
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site/webmaster"><%=t.admin.console_webmaster%></a></p>
      </div>
    </div>      
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/site/structure"><%=t.admin.console_structure%></a></p>
      </div>
    </div>
  </div>
</div>