<h2><%=t.site.style.title%></h2>
<%=t.site.style.description%>
<div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000">
</div>
      
<div class="no-border no-background overflow">
    <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
        <li class="no-border no-background" style="border:none; backgrond:none">
         	  <a name="configuration" href="#css"><%=t.site.style.configuration%></a>
        </li>
        <li class="no-border no-background" style="border:none; backgrond:none">
         	  <a name="css" href="#css"><%=t.site.style.css%></a>
        </li>
        <li class="no-border no-background" style="border:none; backgrond:none">
           	  <a name="layout" href="#layout"><%=t.site.style.layout%></a>
        </li>
        <li class="no-border no-background" style="border:none; backgrond:none">
           	  <a name="preview" href="#preview"><%=t.site.style.preview%></a>
        </li>
    </ul>
    <div id="content">
    	<div id="configuration" class="all-border-solid color-2 top-margin">
          <form name="variables" action="/variables" method="PUT" 
             data-remote="ajax" data-remote-method="PUT" class="all-space">
             <%= render_variable_textarea('site.extra_styles', t.site.style.extra_links) %>
             <div class="formrow-botonera">
  	           <input type="submit" value="<%=t.entitymanagement.update%>" 
  	                  class="button blue-button">
             </div>
          </form>
    	</div>
   	    <div id="css" class="all-border-solid color-2 top-margin">
       	     <form name="templates" action="/templates" method="PUT" 
      data-remote="ajax" data-remote-method="PUT" class="all-space">
               <%= render_template_editor('default_theme_style', t.site.style.css, '', 20) %>
               <div class="formrow-botonera">
  	              <input type="submit" value="<%=t.entitymanagement.update%>" 
  	                     class="button blue-button">
               </div>
             </form>
        </div>	
        <div id="layout" class="all-border-solid color-2 top-margin">
             <div class="container_12">
                <div class="grid_7">
                   <form name="templates" action="/templates" method="PUT" 
      data-remote="ajax" data-remote-method="PUT" class="all-space">
                     <%= render_template_editor('page_render', t.site.style.layout, '', 20) %> 
                     <div class="formrow-botonera">
  	                    <input type="submit" value="<%=t.entitymanagement.update%>" 
  	                     class="button blue-button">
                     </div>
                   </form>
                 </div>
                 <div class="grid_5">
                  <img src="/img/layout.jpg" class="top-margin-1line"/>
                </div>
             </div>
        </div>
        <div id="preview" class="all-border-solid color-2 top-margin">
        	<div class="container_12">
               <div class="grid_12">
                  <iframe id="home_frame" src="/" width="99%" height="400" class="all-space"></iframe>
               </div>
            </div>
        </div>
    </div>
</div>

